<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url}}" />
        <title>{{site.title}}</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ "/assets/tablesort.js" | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    </head>

    <body>
        <div class="wrapper">
            {{ content }}
        </div>
    </body>
</html>